In [31]:
import pandas as pd

In [32]:
colunas = ['concessionaria','cod_agente_arrecadador','nome_agente_arrecadador','nome_grupo_loja','uf_cef','cidade_cef','uf_ag_nao_financeiro','mes_transacao','status','bu_description','estado','profit_center','cod_area','dat_tra','data_venda','midia','valor_face','qtde_recargas','valor_total','val_tarifa','val_tarifa_total']
#print(len(colunas))

entrada = '.\\input\\fechamento_atm_mes_geral_202410.csv'
saida = '.\\output\\base_saida.csv'

print(f'Arquivo de entrada: {entrada}\nArquivo de saída: {saida}'.format(entrada, saida))


df = pd.read_csv(entrada , encoding='iso-8859-1', on_bad_lines='skip', sep=';', usecols=colunas)
df.to_csv(saida, sep=';', index = False)
print('processo finalizado!')

Arquivo de entrada: .\input\fechamento_atm_mes_geral_202410.csv
Arquivo de saída: .\output\base_saida.csv
processo finalizado!

In [35]:
colunas2 = ['concessioYYYYYYnaria','tralala','nome_agente_arrecadador','nome_grupo_loja','uf_cef','cidade_cef','uf_ag_nao_financeiro','mes_transacao','status','bu_description','estado','profit_center','cod_area','dat_tra','data_venda','midia','valor_face','qtde_recargas','valor_total','val_tarifa','val_tarifa_total']
#print(len(colunas))
#df.columns = colunas2
df.columns = [str(x).upper() for x in df.columns]
df.head(3)

,CONCESSIOYYYYYYNARIA,TRALALA,NOME_AGENTE_ARRECADADOR,NOME_GRUPO_LOJA,UF_CEF,CIDADE_CEF,UF_AG_NAO_FINANCEIRO,MES_TRANSACAO,STATUS,BU_DESCRIPTION,...,PROFIT_CENTER,COD_AREA,DAT_TRA,DATA_VENDA,MIDIA,VALOR_FACE,QTDE_RECARGAS,VALOR_TOTAL,VAL_TARIFA,VAL_TARIFA_TOTAL
0,TRS,110000410,M4U - RECORRENTE PIX,NaN,NaN,NaN,NaN,202410,Efetuada,UN Sul,...,J30RS051,51,01/10/2024 00:00:00,01/10/2024,Mobile APP - Pix,12,5,60,NaN,NaN
1,TSU,110002264,M4U CPT - DEBITO MASTER,NaN,NaN,NaN,NaN,202410,Efetuada,NaN,...,J33SC047G,47,01/10/2024 00:00:00,01/10/2024,Mobile APP,20,16,320,NaN,NaN
2,TNE,110000623,BEMOBI - MASTERCARD,NaN,NaN,NaN,NaN,202410,Efetuada,NaN,...,J25CE085G,85,01/10/2024 00:00:00,01/10/2024,Mobile APP,12,1,12,NaN,NaN